@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "poppins";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

section{
  @apply w-full pt-16 px-4 sm:px-8 md:px-12 lg:px-16 xl:px-28;
}

.service-card{
  @apply w-full rounded p-6 border border-dotted border-soft_blue shadow hover:shadow-lg hover:shadow-soft_blue/70 bg-white translate-y-[100px] opacity-0 relative;
}

.service-card::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(2,0,36,0.47942927170868344) 0%, rgba(255,255,255,1) 50%, rgba(43,75,201,0.7035189075630253) 100%);
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0);
  transition: all 300ms linear;
  transform-origin: bottom left;
}

.service-card:hover::before{
  transform: scale(1);
}

#about-image-wrapper::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid #1288C3;
  left: 30px;
  top: 30px;
  box-shadow: 15px 0px 20px 10px #cbd5e0,inset 15px 0px 8px 0px #cbd5e0;
  z-index: -1;
}


.card-title{
  @apply font-poppins font-bold text-soft_blue text-lg;
}

.card-intro{
  @apply text-sm line-clamp-3 text-slate-600 my-4;
}

.card-button{
  @apply text-sm px-4 py-1.5 rounded-full bg-soft_blue text-white border border-soft_blue hover:bg-transparent hover:text-soft_blue transition-all duration-100 ease-linear;
}

/* Conact Form */
#contact-form label{
  @apply mb-2 block text-slate-600;
}

#contact-form input{
  @apply w-full border border-soft_blue text-slate-700 accent-soft_blue px-3 py-2 rounded focus:outline-none;
}

#contact-form textarea{
  @apply w-full border border-soft_blue text-slate-700 accent-soft_blue px-3 py-2 rounded focus:outline-none;
}